</body>
<footer>
    <nav class="navbar">
        <a class="navItem" href="/">Home</a>
        <a class="navItem" href="/work">Work List</a>
        <a class="navItem" href="/about">About</a>
    </nav>
    Copyright 2021 (c)
</footer>
</html>